body, html {
    background: linear-gradient(#000080,#00FFC5); 
    background-repeat: no-repeat;
    background-attachment: fixed;

    /* height: 165%; */ 
    height: 165%;
    margin: 0;
}

/* //////////////////                        Header START                    /////////////////////////////////////////*/

* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}

nav {
    height: 80px;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 10;
    position: fixed;

    background: rgba(0, 0, 0, 0.7); 
    box-sizing: border-box;
    border-bottom: 2px solid #000080;
}

nav .logo {
    padding: 20px;
    height: 80px;
    float: left;
    margin-top: -20px;
}

nav ul { 
    float: right; 
    margin-right: 25px; 
}

nav ul li { 
    display: inline-block; 
    line-height: 80px; 
    margin: 0 15px; }

nav ul li a {
    position: relative;
    color: #5BC0EB;
    font-family: 'Montserrat', sans-serif; 
    font-weight: bold;
    text-transform: uppercase; 
    padding: 5px 0;
}

nav ul li a:hover {
    color: #00FFC5;
}

nav ul li a:before {
    position: absolute;
    content: ''; 
    left: 0;
    bottom: 0; 
    height: 3px;
    width: 100%;
    background: #00FFC5;
    transform: scaleX(0);
    transform-origin: right;
    transition: transform .4s linear; 
}

nav ul li a:hover:before {
    transform: scaleX(1);
    transform-origin: left;
} 

label #nav__btn, label #nav__btn--cancel {
    color: #5BC0EB;
    font-size: 30px;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}

#nav__check { display: none; }

/* //////////////////                        Header END                    /////////////////////////////////////////*/

.homepage-hero {
    background-image: url(media/avatar.gif); 
    background-position: center ;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    height: 45%;
    border-bottom: 2px solid #000080;

    margin-top: -80px;
}

.homepage-hero__text, .homepage-hero__text--subtext {
    text-align: center;
    position: absolute;
    font-family: 'Montserrat', serif;
    text-transform: uppercase;
    -webkit-text-stroke: 0.5px;
    -webkit-text-stroke-color: white;

    top: 40%;
    left: 35%;
    transform: translate(-50%, -50%);

    font-weight: bolder;
    text-shadow: #000080 2px 1px 10px;
    color: #037971;
}

.homepage-hero__text--subtext {
    top: 44%;
    left: 20%;
    transform: translate(-45%, -20%);

    color: #000080;
}

.content-area, .content-area--cast {
    height: 1200px;
    font-family: 'Varela Round', sans-serif;
    padding: 20px;
    line-height: 40px;

    color: aliceblue;
}

.content-area__intro, .content-area__intro--jake, .content-area__intro--neytiri, 
.content-area__intro--kiri, .content-area__intro--quarritch, .content-area__intro--ronal,
.content-area__intro--tonowari, .content-area__intro--neteyan, .content-area__intro--loak,
.content-area__intro--tuk, .content-area__intro--spider, .content-area__intro--tsireya {
    float: right;
    width: 40%;

    margin-right: 50px;
    margin-top: 140px;
}

.content-area__intro--2 {
    float: left;
    width: 40%;

    margin-left: 30px;
    margin-top: 70px;
    color: #000080;
}


.content-area__img, .content-area__img--2, .content-area__img--jake, .content-area__img--kiri,
.content-area__img--ronal, .content-area__img--neteyan, .content-area__img--tuk, .content-area__img--tsireya {
    width: 50%;
    margin: 100px 20px;
    border-style: solid;
    border-width: 2px;
    border-color: #000080;
    border-radius: 20px;
}

.content-area__img--2, .content-area__img--2--neytiri, .content-area__img--2--quarritch,
.content-area__img--2--tonowari, .content-area__img--2--loak, .content-area__img--2--spider {
    width: 50%;
    margin: 40px 20px;
    float: right;
    border-style: solid;
    border-width: 2px;
    border-color: #000080;
    border-radius: 20px; 
}

/*////////////////////////               Cast Page Attributes                               ///////////////////////////////////////////*/

.content-area--cast {
    height: auto;
}

.cast-hero {
    background-image: url("media/hero.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    height: 40%;
    margin-top: -20px;

}

.cast-hero__text {
    font-family: 'Montserrat', serif;
    font-size: 40px;
    line-height: 700px;
    position: absolute;
    left: 10%;
    color: #00FFC5;
    text-shadow: rgb(49, 58, 231) 3px 2px;
}

/* Height of cast bio's on desktop*/

.content-area__intro--ronal, .content-area__intro--neteyan {
    margin-top: 140px;
}

.content-area__intro--tonowari, .content-area__intro--spider {
    margin-top: 100px;
}

.content-area__intro--tuk, .content-area__intro--tsireya  {
    margin-top: 150px;
}

.content-area__intro--jake {
    margin-top: 110px;
}

.content-area__intro--neytiri {
    margin-top: 75px;
}

.content-area__intro--kiri {
    margin-top: 115px;
}

.content-area__intro--quarritch {
    margin-top: 70px;
}

.content-area__intro--loak {
    margin-top: 80px;
}

/*/////////////////////////                      Wiki Page Attributes                       //////////////////////////////////////////*/

.wiki {
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

::-webkit-scrollbar {
    height: 8px;
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 25px;
}

::-webkit-scrollbar-thumb {
    background:  #6e93f7;
    border-radius: 25pz;
}

::-webkit-scrollbar-thumb:hover {
    background: #4070f4;
}

.container {
    display: flex;
    gap: 20px;
    max-width: 400px;
    width: 100%;
    background: #00008051 ; /* Styling ova here */
    border-radius: 12px;
    padding: 30px;
    scroll-snap-type: x mandatory;
    overflow-x: scroll;
    scroll-padding: 30px;
    box-shadow: 0 15px 25px  rgba(0,0,0,0.1);

    margin-top: 100px;

}

.container .card, .card2, .card3,
.card4, .card5, .card6 {
    display: flex;
    flex: 0 0 100%;
    flex-direction: column;
    align-items: center;
    background-image: url(media/slider1.png);
    background-position: top  ;



    border-radius: 50px;
    padding: 30px;
    scroll-snap-align: start;
    box-shadow: 0 15px 25px  rgba(0,0,0,0.1);

    background-size: cover;

}

.card, .card2, .card3,
.card4, .card5, .card6 {
    height: 400px;
    width: 200px;

    margin-top: 4px;

    /* Maybe gunna need to add some funky 
    font shiznit here */
    font-size: 16px;
    text-align: center;

    color: white;
    text-shadow:
    0.07em 0 black,
    0 0.07em black,
    -0.07em 0 black,
    0 -0.07em black;


    

}

.card2 {
    background-image: url(media/slider2.png);
}

.card3 {
    background-image: url(media/slider3.png);
}

.card4 {
    background-image: url(media/slider4.png);
}

.card5 {
    background-image: url(media/slider1.png);
}

.card6 {
    background-image: url(media/slider2.png);
}

.card h2, .card2 h2, .card3 h2,
.card4 h2, .card5 h2, .card6 h2 {
    margin-bottom: 15px;
    color: #00FFC5;
    /* font-family: ; */
    font-size: 24px;
    font-weight: 600 ;


}

.card a, .card2 a, .card3 a,
.card4 a, .card5 a, .card6 a  {
    color: #6e93f7;
}

.card a:hover, .card2 a:hover, .card3 a:hover,
.card4 a:hover, .card5 a:hover, .card6 a:hover  {
    color: #00FFC5;
}

.card a:visited, .card2 a:visited, .card3 a:visited,
.card4 a:visited, .card5 a:visited, .card6 a:visited {
    color: rgb(255, 68, 255);
}

.container__title {
    font-family: 'Montserrat', serif;
    font-size: 36px;
    -webkit-text-stroke: 0.5px white;
    font-weight: 600;
    position: absolute;
    margin-top: -500px;
    color: #5BC0EB;
}


/*////////////////////////               Media queries for mobile optimisation               //////////////////////////////////////////*/


@media screen and (max-width: 768px) {

    /* ////////////////////                       Mobile Header START                       ///////////////////////////////////////////// */

    nav .logo {
        left: 6%;
        top: 20px;
        margin-top: -10px;
        height: 60px;
    }

    nav ul li {
        display: block;
        margin: 50px 0;
        line-height: 30px;
    }

    nav ul li a {
        font-size: 20px;
    }

    ul {
        position: fixed;
        width: 100%;
        height: 100vh;
        background: rgba(0, 0, 0, 0.8);
        top: 80px;
        left: -100%;
        text-align: center;
        transition: all .5s;
    }

    label #nav__btn {
        display: block;
    }

    #nav__check:checked ~ ul {
        left: 0;
    }

    #nav__check:checked ~ label #nav__btn {
        display: none;
    }

    #nav__check:checked ~ label #nav__btn--cancel {
        display: block;
    }

    /* ////////////////////                       Mobile Header END                     ///////////////////////////////////////////// */

    .homepage-hero {
        display: flex;
    }

    .homepage-hero__text {
        font-size: 12px;
    }

    .homepage-hero__text--subtext {
        margin-top: 10px;
        margin-left: 50px;
    }

    body, html{
        background: linear-gradient(#000080,#00FFC5) ;
        background-repeat: no-repeat;
        background-attachment: fixed;
    }

    .content-area__img, .content-area__img--2 {
        width: 80vw;
    }

    .content-area__img--2 {
        float: top;
        margin-top: -850px;
    }

    .content-area__intro, .content-area__intro--2 {
        width: 80vw;
        margin-top: -80px;
        color: white;

        overflow: hidden;
        float: none;
        padding: 20px;
        text-align: center;
    }

   .content-area__intro--2 {
    margin-top: 300px;
    margin-left: 0;
    padding-bottom: 40px;
   }

   /* //////////////////////////////                 Cast Page Mobile                     /////////////////////////////////////////*/

   .cast-hero {
    background-position: right;
    display: flex;
   }

    .content-area__intro, .content-area__intro--jake, .content-area__intro--neytiri, 
    .content-area__intro--kiri, .content-area__intro--quarritch, .content-area__intro--ronal,
    .content-area__intro--tonowari, .content-area__intro--neteyan, .content-area__intro--loak,
    .content-area__intro--tuk, .content-area__intro--spider, .content-area__intro--tsireya {
        width: 80vw;
        text-align: center;

        /*margin-right: 0; */
        margin-left: auto;
        margin-right: auto;
    }
 
    .content-area__img--jake, .content-area__img--2--neytiri, .content-area__img--kiri, 
    .content-area__img--2--quarritch, .content-area__img--ronal, .content-area__img--2--tonowari,
    .content-area__img--neteyan, .content-area__img--2--loak, .content-area__img--tuk,
    .content-area__img--2--spider, .content-area__img--tsireya {
        width: 80vw;
        
        display: block;
        margin-left: auto;
        margin-right: auto;
        float: none;
    }


    .content-area__intro--neytiri, .content-area__intro--quarritch, .content-area__intro--tonowari,
    .content-area__intro--loak, .content-area__intro--spider {
        margin-top: 0px;

        margin-bottom: 20px;
    }

    .content-area__intro--kiri, .content-area__intro--neteyan,
    .content-area__intro--tuk, .content-area__intro--tsireya,
    .content-area__intro--ronal, .content-area__intro--jake {
        margin-top: -80px;

        margin-bottom: 60px;
    }

    .cast-hero__text {
        font-size: 24px;
        line-height: 1000px;
    }

}

/*///////////////////////////////////////////////////////////////////////////////////////////////////////////////////
 ///////////////////               Review Page CSS                       ///////////////////////////////////////////
//////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/

/* REVIEWS PAGE */


.first-reviews {
    height: auto;
    font-family: 'Varela Round', sans-serif;
    margin-top: 100px;
    color: #00FFC5;
    width: 100%;
}

.first-reviews__text {
    padding: 20px;
    font-size: 16px;
    line-height: 30px;
}

.first-reviews__video {
    display : block;
    margin-left: auto;
    margin-right: auto;
    width: 95%;
    border-width: 0px;
    aspect-ratio: 16 / 9;
    
}

/* random typical min-width I found for desktops and laptops */

@media only screen and (min-width: 992px)
{
    .first-reviews {
        overflow:auto;
        display:flex;
        margin-top: 130px;
    }
    
    .first-reviews__text {
        float:left;
        width: 50%;
        line-height: 30px;
        margin: auto;
    }
    
    .first-reviews__video {
        float: right;
        width: 40%;
        margin-right: 20px;
        margin-top: 20px;
        border-style: solid;
        border-width: 2px;
        border-color: #000080;
        border-radius: 20px;
        margin:auto;
    }
}

.short-reviews{
    padding-top: 15px;

}

.short-reviews___row{

}

.short-reviews__review{
    color:#000080;
    padding: 5px;
    margin: 5px;
    padding-top: 0;
    border: 1px solid #000080;
}

.short-reviews__stars{
    text-align: center;
    margin:0;
}

.short-reviews__text{
    text-align: left;
    margin:0;
    padding: 0;
}






@media only screen and (min-width: 992px)
{
    .short-reviews{
        padding-top: 15px;
        margin: 20px 20px;
        overflow: auto;
    
    }
    
    .short-reviews__review{
        color:#000080;
        padding: 5px;
        margin: 5px;
        padding-top: 0;
        border: 1px solid #000080;
    }
    
    .short-reviews__stars{
        margin:0;
    }
    
    .short-reviews__text{
        margin:0;
        padding-top: 5px;
    }
    .short-reviews__first_column{
        float: left;
        width: 45%;

    }
    
    .short-reviews__second_column{
        float: right;
        width: 45%;
    }

    /* ///////// TRYING TO FIX THE WIKI PAGE FOR DESKTOP /////////////// */
    .container {
        max-width: 1000px;
    }

    .card, .card2, .card3, 
    .card4, .card5, .card6 {
        font-size: 26px;
        padding-left: 40px;
        padding-right: 40px;

        text-shadow: none;
        -webkit-text-stroke: 0.3px black;
    }

    .card h2, .card2 h2, .card3 h2 {
     
     
        text-shadow: none;
   
       
    } 
    
}