body, html {
    background: linear-gradient(#000080,#00FFC5); 
    background-repeat: no-repeat;
    background-attachment: fixed;

    /* height: 165%; */ 
    height: auto;
    margin: 0;
}

/* //////////////////                        Header START                    /////////////////////////////////////////*/

* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}

.navigation-bar {
    height: 80px;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 10;
    position: fixed;

    background: rgba(0, 0, 0, 0.7); 
    box-sizing: border-box;
    border-bottom: 2px solid #000080;
}

.navigation-bar__logo-img {
    padding: 20px;
    height: 80px;
    float: left;
    margin-top: -20px;
}

.links-list { 
    float: right; 
    margin-right: 25px; 
}

.links-list__element { 
    display: inline-block; 
    line-height: 80px; 
    margin: 0 15px; }

.links-list__link {
    position: relative;
    color: #5BC0EB;
    font-family: 'Montserrat', sans-serif; 
    font-weight: bold;
    text-transform: uppercase; 
    padding: 5px 0;
}

.links-list__link:hover {
    color: #00FFC5;
}

.links-list__link:before {
    position: absolute;
    content: ''; 
    left: 0;
    bottom: 0; 
    height: 3px;
    width: 100%;
    background: #00FFC5;
    transform: scaleX(0);
    transform-origin: right;
    transition: transform .4s linear; 
}

.links-list__link:hover:before {
    transform: scaleX(1);
    transform-origin: left;
} 

/* //////////////////                        Header END                    /////////////////////////////////////////*/

@media screen and (max-width: 850px) {

    /* ////////////////////                       Mobile Header START                       ///////////////////////////////////////////// */


    .navigation-bar{
        height: auto;
        position: absolute;
        display: flex;
        flex-direction: column;
    }

    .navigation-bar__logo-link {
        width: 100%;
        margin: 0 auto;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .navigation-bar__logo-img {
        float: none;
        margin: 0 auto;
        top: 20px;
        margin-top: -10px;
        padding: 15px 0 5px 0;
        height: 40px;
    }

    .links-list{
        margin: 0 auto;;
    }

    .links-list__element{
        width: 100%;
        height: 15px;
        text-align:center;
        line-height: 15px;
        margin: 5px 0;
        font-size: 12px;
    }
}
    /* ////////////////////                       Mobile Header END                     ///////////////////////////////////////////// */

::-webkit-scrollbar {
    height: 8px;
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 25px;
}

::-webkit-scrollbar-thumb {
    background:  #6e93f7;
    border-radius: 25pz;
}

::-webkit-scrollbar-thumb:hover {
    background: #4070f4;
}



/* //////////////////                        HOMEPAGE // MIXES START       /////////////////////////////////////////*/

.content-area {
    height: 1200px;
    padding: 20px;
    line-height: 40px;
    display: flex;
    align-content: center;
    flex-direction: column;

    font-family: 'Varela Round', sans-serif;
    font-size: 20px;
    font-weight: bold;
    color: aliceblue;
}

.content-area__title {
    font-family: 'Montserrat', serif;
    font-size: 40px;
    line-height: 40px;
    margin: 20px auto;
    color: #00FFC5;
    text-shadow: rgb(49, 58, 231) 3px 2px;
}

.content-area__text {
    width: 80%;
    margin: 20px auto;
    text-align: center;
}

.content-area__img{
    width: 50%;
    margin: 30px auto;

    border-style: solid;
    border-width: 2px;
    border-color: #000080;
    border-radius: 20px;
}

.content-area--first{
    margin-top: 80px;
}

@media screen and (max-width: 850px) {

    .content-area{
        font-size: 15px;
        line-height: 24px;
    }

    .content-area__text {
        width: 90%;
    }

    .content-area__img {
        width: 70%;
        margin: 15px auto;
    }

    .content-area--first{
        margin-top: 170px;
    }


}
/* //////////////////                        HOMEPAGE END                                   /////////////////////////////////////////*/

/*////////////////////////               Cast Page Attributes                               ///////////////////////////////////////////*/


.content-area--cast {
    height: auto;
}


/*/////////////////////////                      Wiki Page Attributes                       //////////////////////////////////////////*/

.wiki {
    height: auto;
    display: flex;
    flex-direction: column;
}

.wiki__title {
    font-family: 'Montserrat', serif;
    font-size: 36px;
    -webkit-text-stroke: 0.5px white;
    font-weight: 100;
    color: #5BC0EB;
    text-align: center;

    margin-top: 100px;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}


.container {
    display: flex;
    gap: 20px;
    width: 80%;
    margin: 20px auto;
    background: #00008051 ; /* Styling ova here */
    border-radius: 12px;
    padding: 30px;
    box-shadow: 0 15px 25px  rgba(0,0,0,0.1);

    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.container__card {
    height: auto;
    margin: 20px 0;
    font-size: 16px;
    width: 70%;

    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    background-color: #0000b0;
    border-radius: 50px;
    padding: 30px;
    box-shadow: 0 15px 25px  rgba(0,0,0,0.1);

    text-align: center;
    text-shadow:
    0.07em 0 black,
    0 0.07em black,
    -0.07em 0 black,
    0 -0.07em black;


    

}

.container__title {
    margin-bottom: 30px;
    color: #00FFC5;
    /* font-family: ; */
    font-size: 24px;
    font-weight: 600;

    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

.container__text {
    color: aliceblue;
    font-size: 20px;
    font-weight: bold;
    line-height: 32px;

}

.container__link  {
    color: #6e93f7;
}

.container__link:hover  {
    color: #00FFC5;
}

.container__link:visited {
    color: rgb(255, 68, 255);
}

@media screen and (max-width: 850px) {
    .wiki__title {
        margin-top: 190px;
    }

    .container__card{
        width: 90%;
    }

    .container__text {
        font-size: 18px;
        line-height: 24px;
    
    }

}


/* Plot summary page CSS */
.plot-title {
  font-family: 'Montserrat', serif;
  color: #00FFC5;


  margin-top: 100px;
  width: 100%;
  text-align: center;
}


/*///////////////////////////////////////////////////////////////////////////////////////////////////////////////////
 ///////////////////               Review Page CSS                       ///////////////////////////////////////////
//////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/

.reviews-title {
    font-family: 'Montserrat', serif;
    color: #00FFC5;


    margin-top: 100px;
    width: 100%;
    text-align: center;
}

.first-reviews {
    height: auto;
    font-family: 'Varela Round', sans-serif;
    color: aliceblue;
    width: 100%;
}

.first-reviews__text {
    padding: 20px;
    font-size: 16px;
    line-height: 30px;
}

.first-reviews__video {
    display : block;
    margin-left: auto;
    margin-right: auto;
    width: 95%;
    border-width: 0px;
    aspect-ratio: 16 / 9;
    
}

@media only screen and (min-width: 992px)
{
    .reviews-title {
        margin-top: 130px;
    }

    .first-reviews {
        overflow:auto;
        display:flex
    }
    
    .first-reviews__text {
        float:left;
        width: 50%;
        margin: auto;
    }
    
    .first-reviews__video {
        float: right;
        width: 40%;
        margin-right: 20px;
        margin-top: 20px;
        border-style: solid;
        border-width: 2px;
        border-color: #000080;
        border-radius: 20px;
        margin:auto;
    }
}

@media screen and (max-width: 850px) {
    .reviews-title {
        margin-top: 190px;
    }
}

.short-reviews{
    font-family: 'Varela Round', sans-serif;

    padding-top: 15px;
    width: 90%;
    margin: 0 3%;
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
}

.short-reviews__review{
    color:aliceblue;
    text-align: center;
    border: 1px solid #000080;

    padding: 0 5px 5px 5px;
    margin: 5px auto;
    width: 100%;


}

.short-reviews__stars{
    margin: 0;
}

.short-reviews__text{
    font-weight: normal;
    margin: 0;
    padding: 0;
}

.short-reviews__first_column{
    float:left;
}

.short-reviews__second_column{
    float:left;
}




@media only screen and (min-width: 992px)
{
    .short-reviews{
        padding-top: 15px;
    
    }
    
    .short-reviews__review{
        padding: 0 8px 8px 8px;
        height: 120px;
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
    }
    
    .short-reviews__stars{
        position: absolute;
        left: 0;
        top: 0;
        right: 0;
        margin: auto

    }
    
    .short-reviews__text{
        margin:1em 0 0 0;
        padding-top: 5px;
    }
    .short-reviews__first_column{
        width: 48%;
    }
    
    .short-reviews__second_column{
        width: 48%;
        float: right;
    }
    
}

.company-reviews{
    margin: 10px auto;
    width: 90%;
    border-collapse: collapse;
}

.company-reviews__first-column{
    font-size: 17px;
}

.company-reviews__companies-row{
    font-size: 15px;
    color: #6b6bff;
}

.company-reviews__cell{
    margin: 0;
    padding: 0px 3px;
    border: 1px solid #000080;
    width: 5%;
}

.company-reviews__ratings-row{
    font-size: 15px;
    color: aliceblue;
}

@media only screen and (min-width: 992px)
{ 
    .company-reviews__first-column{
        font-size: 24px;
    }
    
    .company-reviews__companies-row{
        font-size: 20px;
    }
    
    .company-reviews__cell{
        width: 8%;
    }
    
    .company-reviews__ratings-row{
        font-size: 22px;
    }
}
