extends layout

block content
    secion.movies-list
        //- each movie, i in movies
        //-     a.movies-list__movie(href=`/movie/${movie.id}`)
        //-         h2.movie__title= movie.title
        //-         img.movie__poster(src=movie.poster_path)

        
        
    a.page-button(href=`?page=${page == 1 ? 2 : 1}`) Next Page

    script(src="../scripts/moviesPage.js")