doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Index
        style
            include ../main2.css
    body 
        nav.navbar
            a.navbar__link Movies
            a.navbar__link Test
            a.navbar__link Test2
            a.navbar__link.navbar__user Register
        block content

        footer