doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Index
        style
            include ../main2.css
    body 
        nav.navbar
            a.navbar__link(href='/group41/movies') Movies

            if user
                a.navbar__link(href='/group41/order') Order
                a.navbar__link.navbar__right(href='/group41/user/orders') My Orders
                a.navbar__link(href='/group41/user') User Info
                a.navbar__link(href=`/group41/logout`) Logout
            else
                a.navbar__link(href='/group41/register') Order
                a.navbar__link.navbar__right(href='/group41/login') Login
                a.navbar__link(href='/group41/register') Register
        block content

        footer