doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Index
        style
            include ../main.css
    body 
        //- nav.navigation-bar
        //-     a.navigation-bar__logo-link(href="home")
        //-         img.navigation-bar__logo-img(src="../media/logo.png", alt="Avatar-The-Way-Of-Water-Logo")
        //-     ul.links-list
        //-         li.links-list__element
        //-             a.links-list__link(href="") Home
        //-         li.links-list__element
        //-             a.links-list__link(href="") Home
        //-         li.links-list__element
        //-             a.links-list__link(href="") Home
        //-         li.links-list__element
        //-             a.links-list__link(href="") Home
        //-         li.links-list__element
        //-             a.links-list__link(href="") Home
        block content

        footer