extends layout

block content
    section.register-section
        form(method='post' action='/register')
            label.register-section__text(for='email') Email:
            input.register-section__input(type='email' name='email' id='email' required)
  
            label.register-section__text(for='username') Username:
            input.register-section__input(type='text' name='username' id='username' required)
  
            label.register-section__text(for='password') Password:
            input.register-section__input(type='password' name='password' id='password' required)

            label.register-section__text(for='password') Confirm Password:
            input.register-section__input(type='password' name='password-2' id='password-2' required)
  
            label.register-section__text(for='credit-card') Credit Card Number:
            input.register-section__input(type='text' name='credit-card' id='credit-card' required)
  
            label.register-section__text(for='expiration-date') Credit Card Expiration Date:
            input.register-section__input(type='text' name='expiration-date' id='expiration-date' required)
  
            label.register-section__text(for='address') Address:
            input.register-section__input(type='text' name='address' id='address' required)
  
            button.register-section__button(type='submit') Register

    script(src="../scripts/registerPage.js")